Q1. List any five functions of the pandas library with execution.

head()<br>
columns() <br>
unique() <br>
describe()<br>
tail()

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [5]:
import pandas as pd
import numpy as np 

columns = ["A", "B", "C"]
index = [1, 2, 4]

df = pd.DataFrame(np.random.rand(3,3), columns=columns)
df

C:\Users\abadi\AppData\Local\Temp\ipykernel_2980\2227375948.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

          A         B         C
0  0.364772  0.995928  0.071073
1  0.878049  0.508054  0.645560
2  0.782830  0.118476  0.820964

In [5]:
new_index = [1,2,4]
df.reindex(new_index)

          A         B         C
1  0.774333  0.092749  0.957003
2  0.374760  0.445323  0.191279
4       NaN       NaN       NaN

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [7]:
df = pd.DataFrame({"Values":[10, 20, 30, 40, 50]})

In [20]:
df["Values"].iloc[:3].sum()

60

In [22]:
# or we can make a function

#initiliaze a function that take a data frame as an argument 
def sum_of_three_values(df):

    #Extract the first three values from the column
    first_three_value = df["Values"].iloc[:3]

    #add the values to get the sum
    sum_of_the_values = first_three_value.sum()

    return sum_of_the_values

sum_of_three_values(df)

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [35]:
df = pd.DataFrame({"Text": ["Name is abdullah", "Age 28", "School", "University"]})
df

               Text
0  Name is abdullah
1            Age 28
2            School
3        University

In [36]:
#creat the function that take tha data frame
def word_count(df):
    
    #creat anoher function that count the number of words inside each row
    def count_words(text):
        return len(text.split())
    
    # add the new colum and use the apply function
    df["Word_Count"] = df["Text"].apply(count_words)

    return df

In [37]:
word_count(df)

               Text  Word_Count
0  Name is abdullah           3
1            Age 28           2
2            School           1
3        University           1

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [38]:
# DataFrame.size() return the number of elemnts in a dataframe or series . That is rows x columns
# DataFrame.shape() return a tuple with number of rows and columns

Q6. Which function of pandas do we use to read an excel file?

In [40]:
# it use pd.read_excel()

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.<br>
<br>
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [48]:

# Sample email addresses
emails = ['alice@example.com', 'bob@gmail.com', 'charlie@yahoo.com']

# Create a DataFrame with 'Email' column
df = pd.DataFrame({'Email': emails})


# Creat the function that split the name from the domain 
def name_from_domain(df):
    df["Username"] = df["Email"].str.split("@").str[0]
    return df

name_from_domain(df)

               Email Username
0  alice@example.com    alice
1      bob@gmail.com      bob
2  charlie@yahoo.com  charlie

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
<br>
For example, if df contains the following values:<br>
A B C<br>
0 3 5 1<br>
1 8 2 7<br>
2 6 9 4<br>
3 2 3 5<br>
4 9 1 2<br>
<br>
Your function should select the following rows:<br>
A B C<br>
1 8 2 7<br>
4 9 1 2<br>
The function should return a new DataFrame that contains only the selected rows.

In [59]:
numbers = {
    "A" : [3, 8, 6, 2, 9],
    "B" : [5, 2, 8, 3, 1],
    "C" : [1, 7, 4, 5, 2]
}

#creat the DataFrame 
df = pd.DataFrame(numbers)

# Creat the function
def select_rows(df):
    selected_rows = df[(df["A"] > 5) & (df["B"] < 10)]
    return selected_rows

In [60]:
select_rows(df)

   A  B  C
1  8  2  7
2  6  8  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [11]:

df = pd.DataFrame({"Values" : [12, 23, 56, 32, 45, 6, 78, 86, 5, 34, 3]})

# creat the function that take the data frame as an input 
def statictical_calculater(df): 
    return f" The mean is {df.mean()}, the medien is {df.median()} where the standard deviation is {df.std()}"

In [12]:
statictical_calculater(df)

' The mean is Values    34.545455\ndtype: float64, the medien is Values    32.0\ndtype: float64 where the standard deviation is Values    29.046045\ndtype: float64'

In [13]:
# or 
def calculate_stats(df):
    # Calculate the medien 
    median_value = df["Values"].median()

    # Calculate the mean 
    mean_value = df["Values"].mean()

    # Calculate the standard deviation
    std_dev_value = df["Values"].std()
    
    return median_value, median_value, std_dev_value

calculate_stats(df)
df.sor

(32.0, 32.0, 29.046044950607772)

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [14]:
df = pd.DataFrame({'Sales': [100, 200, 150, 300, 250, 200, 180, 220, 240],
                    'Date': pd.date_range(start='2024-01-01', periods=9)})
# define the function
def calculate_moving_avarge(df):

    # make sure to sort the dataframe values by date
    df = df.sort_values(by="Date")

    # creat the moving avarge or mean using the rooling function with window of size 7 
    df["Moving avarge"] = df["Sales"].rolling(window = 7, min_periods = 1).mean()

    return df

calculate_moving_avarge(df)

   Sales       Date  Moving avarge
0    100 2024-01-01     100.000000
1    200 2024-01-02     150.000000
2    150 2024-01-03     150.000000
3    300 2024-01-04     187.500000
4    250 2024-01-05     200.000000
5    200 2024-01-06     200.000000
6    180 2024-01-07     197.142857
7    220 2024-01-08     214.285714
8    240 2024-01-09     220.000000

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.<br>
For example, if df contains the following values:<br>
Date<br>
0 2023-01-01<br>
1 2023-01-02<br>
2 2023-01-03<br>
3 2023-01-04<br>
4 2023-01-05<br>
Your function should create the following DataFrame:<br>

Date Weekday<br>
0 2023-01-01 Sunday<br>
1 2023-01-02 Monday<br>
2 2023-01-03 Tuesday<br>
3 2023-01-04 Wednesday<br>
4 2023-01-05 Thursday<br>
The function should return the modified DataFrame.

In [17]:
date = {
    "Date" : ["2023-01-01",
"2023-01-02",
"2023-01-03",
"2023-01-04",
"2023-01-05"]
}

df = pd.DataFrame(date)
# Creat the function
def find_weekday(df):
    # Convert the strings to a real date
    df["Date"] = pd.to_datetime(df["Date"])
    df["weekday"] = df["Date"].dt.day_name()
    
    return df

find_weekday(df)

        Date    weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [19]:
# creat the function
def date_finder(df, start_date, end_date): 
    # convert "Date" to datetime dtype
    df["Date"] = pd.to_datetime(df["Date"])
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)

    # Use boolean indexing to select the wanted range 
    selected_rows = df[(df["Date"] >= start_date) & (df["Date"] <= end_date)]

    return selected_rows

In [25]:

# Generate random timestamps
start_date = '2023-01-01'
end_date = '2023-12-31'
num_dates = 100
random_dates = pd.date_range(start=start_date, end=end_date, periods=num_dates)

# Generate random values
np.random.seed(0)  # For reproducibility
random_values = np.random.randint(0, 100, num_dates)

# Create the DataFrame
data = {
    "Date": random_dates,
    "Value": random_values
}
df = pd.DataFrame(data)

In [23]:
date_finder(df, start_date, "2023-01-31")

                           Date  Value
0 2023-01-01 00:00:00.000000000     44
1 2023-01-04 16:14:32.727272727     47
2 2023-01-08 08:29:05.454545454     64
3 2023-01-12 00:43:38.181818181     67
4 2023-01-15 16:58:10.909090909     67
5 2023-01-19 09:12:43.636363636      9
6 2023-01-23 01:27:16.363636363     83
7 2023-01-26 17:41:49.090909090     21
8 2023-01-30 09:56:21.818181818     36

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [26]:
# import pandas as pd